<?xml version="1.0"?>
<!-- For more information on using app.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DatabaseConnection"
         connectionString="data source=(local);initial catalog=Cognite.Arb;user id=sa;password=Passw0rd;MultipleActiveResultSets=True;App=EntityFramework"
         providerName="System.Data.SqlClient"
         xdt:Transform="Replace" xdt:Locator="Match(name)" />
  </connectionStrings>
  <mailTemplates sendFrom="ict-8047@scnsoft.com" baseAppUrl="https://srv-ict-8094" xdt:Transform="Replace">
    <newUser subject="ARB - New User Activation" path="MailTemplates/NewUser.html" isHtml="true"></newUser>
    <resetPassword subject="ARB - Reset Password" path="MailTemplates/ResetPassword.html" isHtml="true"></resetPassword>
    <resetPhrase subject="ARB - Reset Secure Phrase" path="MailTemplates/ResetSecurePhrase.html" isHtml="true"></resetPhrase>
    <newUserComplete subject="ARB - Account Activated" path="MailTemplates/NewUserComplete.html" isHtml="true"></newUserComplete>
    <resetPasswordComplete subject="ARB - Password has been reset" path="MailTemplates/ResetPasswordCopmlete.html" isHtml="true">
    </resetPasswordComplete>
    <resetPhraseComplete subject="ARB - Secure Phrase has been reset" path="MailTemplates/ResetSecurePhraseComplete.html" isHtml="true">
    </resetPhraseComplete>
    <caseWorkerAssigned subject="ARB - Case Assigned" isHtml="true" path="MailTemplates/CaseWorkerAssigned.html"></caseWorkerAssigned>
    <assignmentUpdate subject="ARB - Assignment Update" isHtml="true" path="MailTemplates/AssignmentUpdate.html"></assignmentUpdate>
  </mailTemplates>
  <appSettings>
    <add key="FileExceptionLoggerPath" value="c:/inetpub/log/cognite.arb.server.webapi.log"
         xdt:Transform="Replace" xdt:Locator="Match(key)" />
  </appSettings>
  <system.diagnostics xdt:Transform="Replace">
    <trace indentsize="4" autoflush="true">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:/inetpub/log/webapi_trace.txt"></add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>