<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="mailTemplates" type="Cognite.Arb.Server.Resource.MailSender.MailTemplatesConfigurationSection, Cognite.Arb.Server.Resource.MailSender" />
  </configSections>
  <connectionStrings>
    <add name="DatabaseConnection" connectionString="data source=192.168.55.183\DEV8;initial catalog=Cognite.Arb;Integrated security=true;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <mailTemplates sendFrom="prabhakar.vijendar@gmail.com" baseAppUrl="https://localhost">
    <newUser subject="ARB - New User Activation" path="MailTemplates/NewUser.html" isHtml="true"></newUser>
    <resetPassword subject="ARB - Reset Password" path="MailTemplates/ResetPassword.html" isHtml="true"></resetPassword>
    <resetPhrase subject="ARB - Reset Secure Phrase" path="MailTemplates/ResetSecurePhrase.html" isHtml="true"></resetPhrase>
    <newUserComplete subject="ARB - Account Activated" path="MailTemplates/NewUserComplete.html" isHtml="true"></newUserComplete>
    <resetPasswordComplete subject="ARB - Password has been reset" path="MailTemplates/ResetPasswordCopmlete.html" isHtml="true">
    </resetPasswordComplete>
    <resetPhraseComplete subject="ARB - Secure Phrase has been reset" path="MailTemplates/ResetSecurePhraseComplete.html" isHtml="true">
    </resetPhraseComplete>
    <caseWorkerAssigned subject="ARB - Case Assigned" isHtml="true" path="MailTemplates/CaseWorkerAssigned.html"></caseWorkerAssigned>
    <assignmentUpdate subject="ARB - Assignment Update" isHtml="true" path="MailTemplates/AssignmentUpdate.html"></assignmentUpdate>
    <assignmentUpdateCreate subject="ARB - Assignment Update" isHtml="true" path="MailTemplates/AssignmentUpdateCreate.html"></assignmentUpdateCreate>
    <assignmentUpdateDelete subject="ARB - Assignment Update" isHtml="true" path="MailTemplates/AssignmentUpdateDelete.html"></assignmentUpdateDelete>
  </mailTemplates>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="localhost" port="2020" userName="prabhakar.vijendar@gmail.com" password="sweet@123" />
      </smtp>
    </mailSettings>
  </system.net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" /> 
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="FileExceptionLoggerPath" value="c:/inetpub/log/cognite.arb.server.webapi.log" />
    <add key="LibraryName" value="ARbDocuments" />
    <add key="PrimaryKey" value="AssociationId" />
    <add key="CaseIdKey" value="CaseId" />
    <add key="ServerUrl" value="http://dev8spt/" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="1048576" />
  </system.web>
  <system.diagnostics>
    <trace indentsize="4" autoflush="true">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="c:/inetpub/log/webapi_trace.txt"></add>
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/cognite/arb/sts" contract="Cognite.Arb.Sts.Contract.ISecurityTokenService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeConfiguration" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeConfiguration">
          <security mode="Transport">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.0.0" newVersion="5.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1073741824" />
      </requestFiltering>
    </security>
    <modules>
      <remove name="WebDAVModule"/>
    </modules>
    <handlers>
      <remove name="WebDAV"/>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>