@{
    ViewBag.Title = "Reset Password Confirmation";
}

<div class="large-12 columns">
    <div class="content">
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>

