@{
    ViewBag.Title = "Reset Secure Phrase Confirmation";
}

<div class="large-12 columns">
    <div class="content">
        <p>
            Please check your email to reset your secure phrase.
        </p>
    </div>
</div>

