@{
    ViewBag.Title = "Reset";
}

<div class="large-4 large-centered columns">
    <div class="box login">
        <div class="row">
            @Html.ValidationSummary("", new { @class = "validation-errors" })
        </div>
    </div>
</div>

