@{
    ViewBag.Title = "Reset secure phrase complete";
}

<div class="large-12 columns">
    <div class="content login">
        <p>
            Your secure phrase has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
        </p>
    </div>
</div>
