<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.pipe://localhost/cognite/arb/sts" contract="Cognite.Arb.Sts.Contract.ISecurityTokenService" binding="netNamedPipeBinding" bindingConfiguration="NamedPipeConfiguration" />
    </client>
    <bindings>
      <netNamedPipeBinding>
        <binding name="NamedPipeConfiguration">
          <security mode="Transport">
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
  </system.serviceModel>
</configuration>