<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mailTemplates" type="Cognite.Arb.Server.Resource.MailSender.MailTemplatesConfigurationSection, Cognite.Arb.Server.Resource.MailSender"/>
  </configSections>
  <mailTemplates sendFrom="ict-8047@scnsoft.com">
    <newUser subject="" path="" isHtml="false"></newUser>
    <resetPassword subject="" path="" isHtml="false"></resetPassword>
    <resetPhrase subject="" path="" isHtml="false"></resetPhrase>
    <newUserComplete subject="" path="" isHtml="false"></newUserComplete>
    <resetPasswordComplete subject="" path="" isHtml="false"></resetPasswordComplete>
    <resetPhraseComplete subject="" path="" isHtml="false"></resetPhraseComplete>
  </mailTemplates>
  <system.net>
    <mailSettings>
      <smtp>
        <network host="" userName="" password=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>