@model Cognite.Arb.Web.Models.Complaints.DiscussionComment

<div class="box feed-quote">
    <div class="row">
        <div class="large-2 columns center"><img src="/Content/Images/user.gif"><br><small>@Model.User.FullName</small></div>
        <div class="large-10 columns">
            <p><strong>@Model.User.FirstName - </strong>@Model.Text</p>
        </div>
    </div>
</div>

