@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<div class="large-12">
    <div class="content error-general">
        <p>An error occurred while processing your request.</p>
    </div>
</div>
